*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: black;
}

.container{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box4{
    margin-top: 40px;
}

.box2{
    margin-top: 40px;
}

.main{
    margin: 0 auto;
    width: 550px;
    height: 745px;
    background-color: #FDEC51;
    display: flex;
}

.foot{
    display: flex;
    align-self: flex-end;
    margin: 20px 40px;
}

.head{
    width: 800px;
    max-width: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 70px;
}

h4{
    padding: 0 20px;
    color: #8F8843;
}

h3{
    font-weight: 700;
    color: #080805;
}

i{
    position: absolute;
    font-weight: 900;
    font-size: 20px;
    margin-left: 380px;
}

.main2{
    background-color: #fff;
    width: 550px;
    height: 550px;
    margin-left: -1050px;
    margin-top: 60px;
    box-shadow: -5px 5px 15px rgb(93, 91, 91);
}

.inp{
    margin-top: 40px;
}

img{
    border-radius: 50%;
    margin-top: -50px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
}

input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 40px;
    margin-top: 12px;
    width: 450px;
    color: #8F9197;
}

.first{
    width: 205px;
}

label{
    margin-left: 40px;
    color: #aaa;
}

.box2{
    display: flex;
}

textarea{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    margin-left: 40px;
    width: 450px;
}